@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.text_base_color {
  @apply text-neutral-4
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-gray-200
}

.flex_center {
  @apply flex justify-center items-center
}

html, body {
  font-family: 'Radio Canada', sans-serif;
  @apply text_base_color
}

.wrapper {
  @apply p-4 shadow bg-white rounded-xl
}

.btn_base {
  @apply px-4 py-2 rounded-md inline-flex justify-center items-center text-sm font-semibold uppercase tracking-wider;
}

.btn {
  @apply btn_base text-white hover:bg-primary-darker rounded-md;
}

.btn_primary {
  @apply btn bg-primary hover:bg-primary-darker
}

.btn_secondary {
  @apply bg-secondary btn hover:bg-secondary-darker
}

.btn_danger {
  @apply bg-danger btn hover:bg-danger-darker
}

.btn_neutral {
  @apply btn_base text-neutral-400 hover:bg-neutral-100 hover:text-neutral-600 border
}


.input {
  @apply appearance-none border-2 border-gray-300 w-full py-2 px-4 text_base_color rounded-md focus:border-primary focus:outline-primary ;
}

input[type="submit"] {
  @apply border-0
}

.form-group {
  @apply mt-4 relative;
}

.form-group label {
  @apply text-sm uppercase text-slate-600;
}

input, select {
  @apply input;
}


.title {
  @apply text-neutral-500 text-2xl font-bold mb-4 uppercase;
}

.subtitle {
  @apply text-neutral-500 text-xl font-semibold mb-2 uppercase
}

.text {
  @apply text-base
}

.text-light {
  @apply text-neutral-400 text-base
}

